@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap');
:root {
	--h: 240;
	--s: 0%;
	--l: 50%;
	--font-family: 'Roboto', sans-serif;
	--font-titre: 'Roboto Slab', serif;
}